doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=`, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title webspace
  body

  main.wrapper
    img(src="media/bg.png", alt="").bg
    .planets
      .planet
        img(src="media/earth.svg", alt="")
        h3.planet__title Planet name
      .planet
        img(src="media/earth.svg", alt="")
        //- h3.planet__title Planet name
      .planet
        img(src="media/earth.svg", alt="")
        h3.planet__title Planet name
      .planet
        img(src="media/earth.svg", alt="")
        h3.planet__title Planet name




  script(src="https://unpkg.com/vue@next")
  script(src="js/app-dist.js")